@model WebApplication4.Models.Branch

@{
    ViewBag.Title = "Branch Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Modal")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">Branch Management</h1>
        </div>
    </div>
</div>
<div class="row margin-vertical">
    <div class="row padding-horizontal padding-vertical">
        <div class="container container-fluid">
            <p class="align-right grey-color animated fadeInRight ">3 Branches</p>
        </div>

    </div>
    <div class="container bg-white shadow">

        <div class="row align-right padding-horizontal">
            <button id="myBtn">Add new Branch</button>
        </div>




        <div class="row padding-horizontal">
            
            <table id="branches" class="table table-striped table-responsive small-text animated fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>Branch Name</th>
                        <th>Address</th>
                        <th>Date Created</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>


    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#branches").DataTable({
                ajax: {
                    url: "/api/branches",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "address"
                    },
                    {
                        data: "dateCreated"
                    },
                    
                    {
                        data: "id",
                        render: function(data) {
                            return "<a class='js-delete' data-branch-id='"+data+"'>Delete</a>"
                        }
                    }
                ]
            });
            $("#branches ").on("click","js-delete", function () {
                var button = $(this);
                //alert("Delete");
                bootbox.confirm("Are you sure you want to delete this branch", function () {
                    if (result) {
                        $.ajax({
                            url: "api/branches/" + button.attr("data-branch-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

        });
    </script>
}
