@using WebApplication1.Models
@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    if (User.IsInRole(RoleName.ADMIN_ROLE))
    {
        @Html.Partial("_AddModal")
    }

}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">User Management</h1>
        </div>
    </div>
</div>
<div class="row margin-vertical">
    <p class="alert alert-dismissible">@ViewBag.SuccessMessage</p>


    <div class="container bg-white shadow">
        <div class="row  padding-horizontal">
            <div class="col-md-6 col-sm-6 col-xs-6 align-left" style="padding-top: 35px;">
                <p class=" grey-color animated fadeInRight "><span id="count">@Model.count</span> Users</p>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 align-right">
                @{
                    if (User.IsInRole(RoleName.ADMIN_ROLE))
                    {
                        <button id="myBtn">Add new Account</button>
                    }

                }
            </div>

        </div>





        <div class="row padding-horizontal">

            <table id="gl-user-account" class="table table-striped table-responsive small-text animated fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>Full Name </th>
                        <th>Branch</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>


    </div>

</div>

@section scripts
{
    <script>
        function Load(url) {
            window.location.replace(url);
        }


        $(document).ready(function () {
            var table = $("#gl-user-account").DataTable({
                ajax: {
                    url: "/api/useraccounts",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "fullName"

                    },
                    {
                        data: "branch.name"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "userName"
                    },
                    {
                        data: "id",

                        render: function (data) {
                            var url = "UserAccounts/EditProfile/" + data;
                            return "<p class='btn btn-primary' onclick=Load(" + String("'" + url + "'") + ")>Edit</p>";
                        }
                    }
                ]
            });
            table.ajax.reload(function () {
                $('#count').html(table.data().count());
            });


        });
    </script>
}
