
@using WebApplication1.Models
@model WebApplication1.ViewModels.BranchViewModel
@{
    ViewBag.Title = "Branch Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (User.IsInRole(RoleName.ADMIN_ROLE))
    {
        @Html.Partial("_Modal")
        @Html.Partial("_EditBranchModal")
    }

}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">Branch Management </h1>
            <p class="grey-color">(ALT+B)</p>
        </div>
    </div>
</div>
<div class="row margin-vertical">

    <div class="container bg-white shadow">



        <div class="row  padding-horizontal">
            <div class="col-md-6 col-sm-6 col-xs-6 align-left" style="padding-top: 35px;">
                <p class=" grey-color animated fadeInRight "><span id="count">@Model.count</span> Branches</p>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 align-right">
                @{
                    if (User.IsInRole(RoleName.ADMIN_ROLE))
                    {
                        <button id="myBtn">Add new Branch</button>
                    }

                }

            </div>

        </div>


        <div class="row padding-horizontal">

            <table id="branches" class=" table table-striped table-responsive table-hover animated small-text fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>Branch Name</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>


    </div>

</div>

@section scripts
{

    <script>
        function EditBranch(id) {
            //alert(id);
            var index = {
                Id: id
            }

            $.ajax({
                type: 'POST',
                url: '/api/Branches/Edit',
                data: JSON.stringify(index),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {


                    $('#myEditBranchModal').fadeIn(200,
                        function () {
                            $('#myEditBranchModal #name').val(data['name']);
                            $('#myEditBranchModal #address').val(data['address']);
                            $('#myEditBranchModal #hidden').val(id);
                        });


                },
                error: function (errorMessage) {
                    // alert('request failed');

                    //                        var msg = JSON.parse(errorMessage.responseText);
                    //
                    //                        $('#myGLPostingConfirmationModal #errorMessage').fadeIn(200,
                    //                            function () { $('#myGLPostingConfirmationModal #errorMessage').html(msg.message) });
                }

            });

        }

        $(document).ready(function () {
            var branchDto;
            var table = $("#branches").DataTable({
                ajax: {
                    url: "/api/branches",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "address"
                    },
                    {
                        data: "id",

                        render: function (data) {
                            return "<p class='js-delete btn btn-primary '  style='margin:auto;cursor:pointer;' id=" +
                                data +
                                " onclick='EditBranch(" +
                                data +
                                ");'>Edit</p>";
                        }
                    }
                ]
            });
            table.ajax.reload(function () {
                $('#count').html(table.data().count());
            });
            $("#branches ").on("click",
                "js-delete",
                function () {
                    var button = $(this);
                    //alert("Delete");
                    bootbox.confirm("Are you sure you want to delete this branch",
                        function () {
                            if (result) {
                                $.ajax({
                                    url: "api/branches/" + button.attr("data-branch-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });


            $('#myEditBranchModal #myEditBranchBtn').on('click',
                function (e) {
                    e.preventDefault();
                    var id = $('#myEditBranchModal #hidden').val();
                    var name = $('#myEditBranchModal #name').val();
                    var address = $('#myEditBranchModal #address').val();
                    branchDto = {
                        Id: id,
                        Name: name,
                        Address: address
                    }
                    $.ajax({
                        type: 'PUT',
                        url: '/api/Branches/Update',
                        data: JSON.stringify(branchDto),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {


                            $('#myEditBranchModal #successMessage').fadeIn(200,
                                function () {
                                    $('#myEditBranchModal .loader').fadeOut();
                                    $('#myEditBranchModal #successMessage').html("Branch Updated");


                                });


                        },
                        error: function (errorMessage) {
                            // alert('request failed');

                            var msg = JSON.parse(errorMessage.responseText);
                            $('#myEditBranchModal #errorMessage').fadeIn(200,
                                function () {
                                    $('#myEditBranchModal #errorMessage').html(msg.message)
                                    $('#myEditBranchModal .loader').fadeOut();
                                });
                        }

                    });
                    $('#myEditBranchModal .close').on('click',
                        function () {
                            table.ajax.reload(function () {
                                $('#count').html(table.data().count());
                                $('#myEditBranchModal #successMessage').fadeOut();
                                $('#myEditBranchModal #errorMessage').fadeOut();
                                $('#myEditBranchModal .loader').fadeOut();
                            });
                        });

                });

        });
    </script>
}
