


<div id="myBusinessStatusModal" class="modal " >

    <!-- Modal content -->
    <div class="modal-content animated " style="width:40%;">
        <span class="close">&times;</span>
        
            
            <div class="alert alert-danger" id="errorMessage"></div>
            <div class="alert alert-success" id="successMessage"></div>

            <form id="confirmationForm">

                <div class="form-group align-center">
                    <p class="alert alert-warning" id="warning">Note: Proceeding would start the <b>EOD(End Of Day) process</b></p>
                    <p style="font-size:1.2em;"><span>Are you sure you want to</span> <br /><span id="businessStatus"><b></b> </span><span>Business?</span></p>

                </div>

                <div class="row form-group" >
                    <div class="col-md-6 col-sm-6 col-xs-6 align-left">
                        <button class="btn btn-danger" id="myCancelBtn">No</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 align-right">
                        <button class=" btn btn-success" id="myProceedBtn">Yes</button>
                    </div>
                </div>


            </form>
        </div>
    

</div>





