
@{
    ViewBag.Title = "ActivationAccount";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Activation Account</h2>


@if(ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))  
{  
    <div class="alert alert-success" style="z-index: 12345678765432;">  
        <strong>Success!</strong>  Your account has been activated successfully.  
        <a href="~/Home">Click here to Log In</a>
    </div>  
}  
else  
{  
    <div class="alert alert-danger">  
        <strong>Error!</strong>@ViewBag.Message  
    </div>  
}  