<div class="row">
	<div class="container">

		<div class=" col-md-6 col-xs-6 margin-vertical ">
			
			<div class="row">
			   
				<div class="col-md-2">
					<p class="bold-text animated fadeInLeft" style="margin-top:2px;">Business</p>
				</div>
				<div class="col-md-10 align-left">
				
					<div class="switch switch--vertical ">
						<input id="radio-c" type="radio" name="second-switch" checked="checked"/>
						<label for="radio-c" class="red-color">Closed</label>
						<input id="radio-d" type="radio" name="second-switch"/>
						<label for="radio-d" class="green-color">Opened</label><span class="toggle-outside"><span class="toggle-inside"></span></span>
					</div>
					<!--
					<div id="toggles" class="margin-horizontal">
						<input type="checkbox" name="checkbox1" id="checkbox1" class="ios-toggle" checked/>
						<label for="checkbox1" class="checkbox-label" data-off="Closed" data-on="Opened"></label>
					</div>
					-->
				</div>
			</div>

			
		</div>
		<div class=" col-md-6  col-xs-6 margin-vertical animated fadeInRight">

			<div class="row">

				<div class="col-md-10 col-sm-10 col-xs-8 align-right">
					<p><span style="margin-right: 10px;"><img src="~/Content/Images/speech-bubble.png" class="icon"></span><span class="bold-text">Hi, Amanda</span></p>
					<p class="grey-color small-text">Last Logged in : 07:00pm 03/08/2018</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-4">
					<div style="min-width: 70%; ">
						<img src="~/Content/Images/profile.png" >
					</div>
				</div>
				
			</div>
			

		</div>
		<!--<div class="row">
			<div class="col-md-12">
				<h1 class="underline animated fadeInLeft">User Management</h1>
			</div>
		</div>-->
		
	</div>
</div>

