@model WebApplication1.ViewModels.CustomerAccountViewModel
<div id="myLoanFirstModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Select Account Type</h3>
            </div>
            <form class="container" id="loanDetailsForm">
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label>Linked Customer Account </label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="linkedCustomerAccountId">
                                @foreach (var customerAcc in Model.CustomerAccounts)
                                {
                                    <option value="@customerAcc.Id">@customerAcc.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                

                

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label>Loan Amount</label>
                        </div>
                        <div class="col-md-9">
                            <input type="number" id="loanAmount">
                        </div>
                    </div>
                </div>

                <button id="myLoanFirstBtn">Next</button>
            </form>
        </div>
    </div>

</div>




