@model WebApplication1.ViewModels.CustomerAccountViewModel
<div id="myAccountTypeModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Select Account Type</h3>
            </div>
            <form>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label>Account Type</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="accountTypeId" required>
                                <option value="0">Select Account Type </option>
                                @foreach (var accountType in Model.AccountTypes)
                                {
                                    <option value="@accountType.Id">@accountType.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    
                    <div class=" col-md-12 align-right">
                        <button id="myAccountTypeBtn">Next</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>



