
@model WebApplication1.ViewModels.CustomerAccountViewModel
<div id="myTermsModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Terms & Conditions</h3>
            </div>
            <div class="alert alert-danger" id="errorMessage"></div>
            <div class="alert alert-success" id="successMessage"></div>
            
            <form class="" id="termsForm">


                <div class="form-group">
                    <span>You have agreed to pay back </span> 
                    <b><span id="paymentPlan"></span></b> <span> at an <b>Interest rate </b> of</span>
                    <b>
                        <span>
                            @foreach (var accountType in Model.AccountTypes)
                            {
                                if (accountType.Name == "Loan Account")
                                {
                                    <p><b>@accountType.DebitInterestRate%</b></p>
                                }
                            }

                        </span>
                    </b>
                </div>
                
                   
                        
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" name="optradio" id="decline" checked>Decline</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio" id="agree">Agree</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-left">
                                <button id="myTermsPrevBtn">Prev</button>
                            </div>
                            <div class="col-md-6 align-right">
                                <button id="myDisburseLoanBtn">Disburse Loan<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button>
                            </div>
                            
                        </div>

                    </form>
        </div>
    </div>

</div>





