@using WebApplication1.Models
@model WebApplication1.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Customer Management";
    if (User.IsInRole(RoleName.ADMIN_ROLE))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}
@{
    if (User.IsInRole(RoleName.ADMIN_ROLE) || User.IsInRole(RoleName.USER_ROLE))
    {
        @Html.Partial("_AddCustomerModal")
        @Html.Partial("_EditCustomerModal")
    }

}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">Customer Management</h1>
        </div>
    </div>
</div>
<div class="row margin-vertical">

    <div class="container bg-white shadow">

        <div class="row padding-horizontal">
            <div class="row  padding-horizontal">
                <div class="col-md-6 col-sm-6 col-xs-6 align-left" style="padding-top: 35px;">
                    <p class=" grey-color animated fadeInRight "><span id="count">@Model.count</span> Customers</p>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 align-right">
                    @{
                        if (User.IsInRole(RoleName.ADMIN_ROLE) || User.IsInRole(RoleName.USER_ROLE))
                        {
                            <button id="myOpenBtn" class="customerBtn">Add new Customer</button>
                        }

                    }


                </div>

            </div>

            <table id="customers" class="table table-striped table-responsive small-text animated fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>Customer Name</th>
                        <th>Customer ID</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>


    </div>

</div>

@section scripts
{
    <script>
        function EditCustomer(id) {
            var newId = pad_with_zeroes(id, 9);
            //alert(newId);
            var index = {
                Id: newId
            }

            $.ajax({
                type: 'POST',
                url: '/api/Customers/EditCustomer',
                data: JSON.stringify(index),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {


                    $('#myEditCustomerModal').fadeIn(200,
                        function () {
                            $('#myEditCustomerModal #name').val(data['name']);
                            $('#myEditCustomerModal #address').val(data['address']);
                            $('#myEditCustomerModal #phoneNumber').val(data['phoneNumber']);
                            $('#myEditCustomerModal #email').val(data['email']);
                            if (data['gender'] == "Male") {
                                $('#myEditCustomerModal #gender-male').prop('checked', true);
                            } else {
                                $('#myEditCustomerModal #gender-female').prop('checked', true);
                            }
                            // $('#myEditCustomerModal #gender').val(data['gender']);

                            $('#myEditCustomerModal #hidden').val(id);
                        });


                },
                error: function (errorMessage) {
                    var msg = JSON.parse(errorMessage.responseText);
                    alert(msg.message);

                    $('#myEditCustomerModal #errorMessage').fadeIn(200,
                        function () { $('#myEditCustomerModal #errorMessage').html(msg.message) });
                }

            });

        }

        // : To pad numbers with zeroes from the left (beginning)
        function pad_with_zeroes(number, length) {

            var my_string = '' + number;
            while (my_string.length < length) {
                my_string = '0' + my_string;
            }

            return my_string;

        }

        var errorMsg = "";
        $(document).ready(function () {


            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "id"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "gender"
                    },
                    {
                        data: "id",

                        render: function (data) {
                            return "<p class='js-delete btn btn-primary '  style='margin:auto;cursor:pointer;' id=" +
                                data +
                                " onclick='EditCustomer(" +
                                data +
                                ");'>Edit</p>";
                        }
                    }
                ]
            });
            $("#customers ").on("click", "js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this branch", function () {
                    if (result) {
                        $.ajax({
                            url: "api/branches/" + button.attr("data-branch-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

            $("#myOpenBtn").on('click', function (e) {
                e.preventDefault();
                $("#myAddCustomerModal").fadeIn();
            });

            // : To Create GL Account Category

            $("#myAddCustomerModal #myAddCustomerBtn").on('click', function (e) {
                e.preventDefault();
                $('#myAddCustomerModal #errorMessage,#myAddCustomerModal #successMessage ').fadeOut();
                errorMsg = "";
                $('#myAddCustomerModal #errorMessage').html("");
                var name = $("#myAddCustomerModal #name").val();
                var phoneNumber = $("#myAddCustomerModal #phoneNumber").val();
                var email = $("#myAddCustomerModal #email").val();
                var address = $("#myAddCustomerModal #address").val();
                var gender = "";
               
                var genderId = $("#myAddCustomerModal input:checked").attr("id");

                if (genderId === "gender-male") {
                    gender = "Male";
                } else {
                    gender = "Female";
                }
                //alert(gender);
                //alert(branchId);
                if (name === "") {
                    errorMsg = errorMsg + "Please enter a <b>Name</b>";
                }
                if (phoneNumber == 0) {
                    errorMsg = errorMsg + "<br>Please enter a <b>Phone Number</b>";
                }
                if (email == "") {
                    errorMsg = errorMsg + "<br>Please enter an <b>Email Address</b>";
                }
                if (address == "") {
                    errorMsg = errorMsg + "<br>Please enter an <b>Address</b>";
                }
                if (gender == "") {
                    errorMsg = errorMsg + "<br>Please select a <b>Gender</b>";
                }
                if (errorMsg != "") {
                    $('#myAddCustomerModal #errorMessage').fadeIn(200, function () {
                        $('#myAddCustomerModal #errorMessage').html(errorMsg);

                    });
                    return;
                }
                var customerDto = {

                    Name: name,
                    Description: description,
                    CategoriesId: categoryId
                }

                $.ajax({
                    type: 'POST',
                    url: '/api/Customers/AddCustomer',
                    data: JSON.stringify(customerDto),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {

                        document.getElementById('glCategoryForm').reset();
                        $('#myAddCustomerModal #successMessage').fadeIn(200,
                            function () {
                                $('#myAddCustomerModal #successMessage').html(data);
                                $('#myAddCustomerModal .loader').fadeOut();
                            });



                    },
                    error: function (errorMessage) {
                        var msg = JSON.parse(errorMessage.responseText);
                        // alert(msg.message);
                        $('#myAddCustomerModal .loader').fadeOut();
                        $('#myAddCustomerModal #errorMessage').fadeIn(200,
                            function () { $('#myAddCustomerModal #errorMessage').html(msg.message) });
                    }

                });
            });

            $("#myEditCustomerBtn").on('click', function (e) {
                e.preventDefault();
                var customerName = $("#myEditCustomerModal #name").val();
                var customerAddress = $("#myEditCustomerModal #address").val();
                var customerEmail = $("#myEditCustomerModal #email").val();
                var customerPhoneNumber = $("#myEditCustomerModal #phoneNumber").val();
                var customerGender = "";
                var id = $("#myEditCustomerModal #hidden").val();
                var customerGenderId = $("#myEditCustomerModal input:checked").attr("id");

                if (customerGenderId === "gender-male") {
                    customerGender = "Male";
                } else {
                    customerGender = "Female";
                }
                // alert(customerGender);
                var customerDto = {
                    Id: id,
                    Name: customerName,
                    Address: customerAddress,
                    Email: customerEmail,
                    PhoneNumber: customerPhoneNumber,
                    Gender: customerGender
                }
                $.ajax({
                    type: 'PUT',
                    url: '/api/Customers/UpdateCustomer',
                    data: JSON.stringify(customerDto),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {


                        $('#myEditCustomerModal #successMessage').fadeIn(200,
                            function () {
                                $('#myEditCustomerModal #successMessage').html(data);
                                $('#myEditCustomerBtn .loader').fadeOut();

                            });

                    },
                    error: function (errorMessage) {
                        // alert('request failed');

                        var msg = JSON.parse(errorMessage.responseText);
                        //alert(msg.message);
                        $('#myEditCustomerModal #errorMessage').fadeIn(200,
                            function () { $('#myEditCustomerModal #errorMessage').html(msg.message) });
                    }

                });

            });
            // : To CLOSE Modals and reload DataTable
            $(".close").on("click",
                function () {
                    table.ajax.reload(function () {
                        $('#count').html(table.data().count());
                        $('.modal #successMessage').fadeOut();
                        $('.modal #errorMessage').fadeOut();
                        $(".modal").fadeOut();
                        document.getElementById('customerForm').reset();
                        

                        //location.reload();
                    });

                });

            $("#myEditCustomerModal .close").on('click', function () {

                table.ajax.reload(function () {
                    $('#count').html(table.data().count());
                    $('#myEditCustomerModal #errorMessage,#myEditCustomerModal #successMessage,#myEditCustomerBtn .loader').fadeOut();
                    $('#myEditCustomerModal').fadeOut();
                });
            });

        });
    </script>
}
