@using WebApplication1.Models

@{
    ViewBag.Title = "Index";
    Layout = User.IsInRole(RoleName.ADMIN_ROLE) ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">Financial Reports</h1>
        </div>
    </div>
</div>
<div class="row margin-vertical">

    <div class="container bg-white shadow">

    <div class="row align-center tab-report">

           
        <div class="col-md-4 col-sm-4 col-xs-4 strip " id="trialBalanceTab">
            <div class="tab max-width padding-vertical" style="padding-top:20px;">
                <p><b>Trial Balance</b></p>
            </div>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 active strip" id="plTab">
            <div class="tab max-width padding-vertical" style="padding-top:20px;">
                <p><b>Profit & Loss Report</b></p>
            </div>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 strip" id="balanceSheetTab">
            <div class="tab max-width padding-vertical" style="padding-top:20px;">
                <p><b>Balance Sheet</b></p>
            </div>
        </div>
    </div>
   
        <div class="row bg-light-grey" id="selectDateInterval">
            @*<div class="col-md-4 col-sm-4 col-xs-4  padding-vertical">
                <p style="text-decoration:underline;"><b>Profit & Loss Statement</b></p>
            </div>*@
            <div class="col-md-12 col-sm-12 col-xs-12 padding-vertical">
                @* <form class="row"> *@
                @*     <div class="alert alert-danger" id="errorMessage"></div> *@
                @*     <div class="col-md-4 form-group strip"> *@
                @*         <div class="row"> *@
                @*             <div class="col-md-2 "> *@
                @*                 <label for="fromDate">From</label> *@
                @*             </div> *@
                @*             <div class="col-md-10"> *@
                @*                 <input type="date" name="fromDate" id="fromDate" class="fromDate form-control"> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @* *@
                @*     </div> *@
                @*     <div class="col-md-4 form-group strip"> *@
                @*         <div class="row"> *@
                @*             <div class="col-md-2"> *@
                @*                 <label for="toDate">To</label> *@
                @*             </div> *@
                @*             <div class="col-md-10"> *@
                @*                 <input type="date" name="toDate" id="toDate" class=" toDate form-control"> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @* *@
                @*     </div> *@
                @*     <div class="form-group col-md-2 col-sm-2 col-xs-4 strip align-right"> *@
                @*         <div class="row"> *@
                @*             <div class="col-md-12"> *@
                @*                 <p id="reportIntervalBtn" class="btn btn-success">Go</p> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @*     </div> *@
                @*     <div class="form-group col-md-2 col-sm-2 col-xs-4 strip "> *@
                @*         <div class="row"> *@
                @*             <div class="col-md-12 align-right"> *@
                @*                 <p id="printBtn" class=" alt-color btn btn-default margin-horizontal-min"><i class="fa fa-print" style="padding-right: 5px;"></i>Print</p> *@
                @*             </div> *@
                @*         </div> *@
                @* *@
                @*     </div> *@
                @* </form> *@
            </div>
        </div>
        <div class="row" id="dateDisplay">
            <div class="col-md-4 col-sm-4 col-xs-6 strip">
                <p>
                    <span>FROM : </span>
                    <span id="fromDateDisplay">
                        <b> </b>
                    </span>

                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <p>
                    <span>TO : </span>
                    <span id="toDateDisplay">
                        <b> </b>
                    </span>
                </p>
            </div>
        </div>
        <div class="row" id="trialBalanceReport">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="padding-vertical">
                        <th style="padding-top: 20px; padding-bottom: 20px;">Account Title</th>
                        <th style="padding-top: 20px; padding-bottom: 20px;">Debit</th>
                        <th style="padding-top: 20px; padding-bottom: 20px;">Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="cash">
                        <td><b>Cash</b></td>
                        <td id="debit"><b></b></td>
                        <td><b></b></td>
                    </tr>
                    <tr id="receivable">
                        <td><b>Account Receivable</b></td>
                        <td id="debit"><b></b></td>
                        <td><b></b></td>
                    </tr>
                    <tr id="loan">
                        <td><b>Customer Loan Account</b></td>
                        <td id="debit"><b></b></td>
                        <td><b></b></td>
                    </tr>
                    <tr id="income">
                        <td><b>Income Account</b></td>
                        <td><b></b></td>
                        <td id="credit"><b></b></td>
                    </tr>
                    <tr id="savings">
                        <td><b>Customer Savings/Current Account</b></td>
                        <td><b></b></td>
                        <td id="credit"><b></b></td>
                    </tr>
                    <tr id="payable">
                        <td><b>Account Payable</b></td>
                        <td><b></b></td>
                        <td id="credit"><b></b></td>
                    </tr>
                    <tr id="capital">
                        <td><b>Capital</b></td>
                        <td><b></b></td>
                        <td id="credit"><b></b></td>
                    </tr>
                    <tr id="expense">
                        <td><b>Expense Account</b></td>
                        <td id="debit"><b></b></td>
                        <td><b></b></td>
                    </tr>
                    <tr id="total" class="bg-grey">
                        <td><b>TOTAL</b></td>
                        <td id="totalDebit"><b></b></td>
                        <td id="totalCredit"><b></b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" id="plReport">
            <div class="max-width align-center row padding-vertical">
                <h3><b>Profit & Loss Report</b></h3>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="padding-vertical">
                        <th style="padding-top: 20px; padding-bottom: 20px;">General Ledger Category</th>
                        <th style="padding-top: 20px; padding-bottom: 20px;">Amount</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>





        <div class="row" id="balanceSheetReport">
            <div class="max-width align-center row" style="padding-top: 10px; padding-bottom: 20px;">
                <h3><b>Balance Sheet - Aug 29</b></h3>
            </div>
            <table class="table table-bordered table-striped">

                <thead>
                    <tr class="padding-vertical">
                        <th style="padding-top: 20px; padding-bottom: 20px;">Account Name</th>
                        <th style="padding-top: 20px; padding-bottom: 20px;"></th>
                        <th style="padding-top: 20px; padding-bottom: 20px;"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr id="asset">
                        <td class="bg-grey"><b>ASSET</b></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="2" class="bg-grey"><b>TOTAL ASSET</b></td>

                        <td class="bg-grey " id="totalAsset"><b></b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-grey"><b>LIABILITY & EQUITY</b></td>
                        <td></td>
                        <td></td>
                    </tr>


                    <tr id="liability">
                        <td><b>LIABILITY</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Total Liability</b></td>

                        <td class="bg-grey " id="totalLiability"><b></b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><b>EQUITY</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="capital">
                        <td><b>Capital</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Total Equity</b></td>
                        <td class="bg-grey" id="totalLE"><b></b></td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-grey" id="totalCredDeb">
                        <td colspan="2"><b>TOTAL LIABILITIES & EQUITY</b></td>


                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

@section scripts
{
    <script>
        var netIncome = 0;
        $.ajax
            ({
                type: 'GET',
                url: '/api/FinancialReports/ProfitAndLoss',

                success: function (data) {

                    //document.getElementById('customerAccountDetailsForm').reset();
                    var totalRevenue = parseFloat(data[1]) + parseFloat(data[3]);
                    var totalExpense = parseFloat(data[5]);
                    $('#plReport tbody')
                        .html("<tr class='bg-grey'><td><b>Revenue</b></td><td></td></tr>"
                            + "<tr><td>"
                            + data[0] + "</td><td>"
                            + data[1] + "</td></tr><tr> <td>"
                            + data[2] + "</td><td>"
                            + data[3] + "</td></tr> <tr> <td> <b>Total Revenue</b></td><td><b>"
                            + totalRevenue + "</b></td></tr><tr class='bg-grey'><td><b>Expense</b></td><td></td></tr><tr><td>"
                            + data[4] + "</td><td>"
                            + data[5] + "</td></tr><tr><td> <b>Total Expense</b></td><td><b>"
                            + totalExpense + "</b></td></tr><tr class='bg-light-grey'><td class='bg-grey' ><b>PROFIT/LOSS</b></td><td class='alt-bg white-color'><b>"
                            + (totalRevenue - totalExpense)
                            + "</b></td></tr>");
                    netIncome = (totalRevenue - totalExpense);


                },
                error: function (errorMessage) {
                    // alert('request failed');

                    var msg = JSON.parse(errorMessage.responseText);

                    alert(msg);
                }

            });
        $.ajax
            ({
                type: 'GET',
                url: '/api/FinancialReports/TrialBalance',

                success: function (data) {

                    var cashEntry = data[0]['debitAmount'].toFixed(2);
                    var receivableEntry = data[1]['debitAmount'].toFixed(2);
                    var loanEntry = data[2]['debitAmount'].toFixed(2);
                    var savingsEntry = data[3]['creditAmount'].toFixed(2);
                    var payableEntry = data[4]['creditAmount'].toFixed(2);
                    var capitalEntry = data[5]['creditAmount'].toFixed(2);
                    var incomeEntry = data[6]['creditAmount'].toFixed(2);
                    var expenseEntry = data[7]['debitAmount'].toFixed(2);
                    var totalDebit = data[0]["debitAmount"] + data[1]["debitAmount"] + data[2]["debitAmount"] + data[7]['debitAmount'];
                    var totalCredit = data[3]["creditAmount"] + data[4]["creditAmount"] + data[5]["creditAmount"] + data[6]['creditAmount'];

                    $("#trialBalanceReport #cash #debit").html(cashEntry);
                    $("#trialBalanceReport #receivable #debit").html(receivableEntry);
                    $("#trialBalanceReport #loan #debit").html(loanEntry);
                    $("#trialBalanceReport #income #credit").html(incomeEntry);
                    $("#trialBalanceReport #savings #credit").html(savingsEntry);
                    $("#trialBalanceReport #payable #credit").html(payableEntry);
                    $("#trialBalanceReport #capital #credit").html(capitalEntry);
                    $("#trialBalanceReport #expense #debit").html(expenseEntry);
                    $("#trialBalanceReport #total #totalDebit b").html(Number.parseFloat(totalDebit.toFixed(2)));
                    $("#trialBalanceReport #total #totalCredit b").html(Number.parseFloat(totalCredit.toFixed(2)));


                },
                error: function (errorMessage) {
                    // alert('request failed');

                    var msg = JSON.parse(errorMessage.responseText);

                    //alert(msg);
                }

            });
        $.ajax
            ({
                type: 'GET',
                url: '/api/FinancialReports/TrialBalance',

                success: function (data) {

                    //document.getElementById('customerAccountDetailsForm').reset();
                    var assetEntry = "";
                    var incomeEntry = "";
                    var expenseEntry = "";
                    var liabilityEntry = "";
                    var capitalEntry = "";
                    var totalDebit = 0;
                    var totalCredit = 0;
                    var equity = 0;
                    assetEntry = assetEntry + "<tr><td style='padding-left:2.5%;'>" + data[0]['accountName'] + "</td><td><b>" + data[0]['debitAmount'].toFixed(2) + "</b></td><td></td></tr>";
                    assetEntry = assetEntry + "<tr><td style='padding-left:2.5%;'>" + data[1]['accountName'] + "</td><td><b>" + data[1]['debitAmount'].toFixed(2) + "</b></td><td></td></tr>";
                    assetEntry = assetEntry + "<tr><td style='padding-left:2.5%;'>" + data[2]['accountName'] + "</td><td><b>" + data[2]['debitAmount'].toFixed(2) + "</b></td><td></td></tr>";
                    // assetEntry = assetEntry + "<tr><td style='padding-left:2.5%;'>" + data[6]['accountName'] + "</td><td><b>" + data[6]['creditAmount'] + "</b></td><td></td></tr>";
                    liabilityEntry = liabilityEntry + "<tr><td style='padding-left:2.5%;'>" + data[3]['accountName'] + "</td><td><b>" + data[3]['creditAmount'].toFixed(2) + "</b></td><td></td></tr>";
                    liabilityEntry = liabilityEntry + "<tr><td style='padding-left:2.5%;'>" + data[4]['accountName'] + "</td><td><b>" + data[4]['creditAmount'].toFixed(2) + "</b></td><td></td></tr>";
                    // liabilityEntry = liabilityEntry + "<tr><td style='padding-left:2.5%;'>" + data[7]['accountName'] + "</td><td><b>" + data[7]['debitAmount'] + "</b></td><td></td></tr>";
                    capitalEntry = capitalEntry + "<tr><td style='padding-left:2.5%;'>" + data[5]['accountName'] + "</td><td><b>" + data[5]['creditAmount'].toFixed(2) + "</td><td></td></tr>";
                    capitalEntry = capitalEntry + "<tr><td style='padding-left:2.5%;'>Net Income</td><td><b>" + netIncome.toFixed(2) + "</td><td></td></tr>";
                    var totalAsset = Number.parseFloat(data[0]["debitAmount"]) + Number.parseFloat(data[1]["debitAmount"]) + Number.parseFloat(data[2]["debitAmount"]);
                    var totalLiability = Number.parseFloat(data[3]["creditAmount"]) + Number.parseFloat(data[4]["creditAmount"]);
                    var totalEquity = Number.parseFloat(data[5]["creditAmount"]) + Number.parseFloat(netIncome);
                    $('#balanceSheetReport #asset').after(assetEntry);

                    $('#balanceSheetReport #liability').after(liabilityEntry);
                    $('#balanceSheetReport #capital').after(capitalEntry);
                    $('#totalLE b').html(totalEquity.toFixed(2));
                    $('#totalAsset b').html(totalAsset.toFixed(2));
                    $('#totalLiability b').html(totalLiability.toFixed(2));
                    $('#balanceSheetReport #totalCredDeb').append("<td ><b>" + (Number.parseFloat(totalLiability) + Number.parseFloat(totalEquity)).toFixed(2) + "</b></td>");



                },
                error: function (errorMessage) {
                    // alert('request failed');

                    var msg = JSON.parse(errorMessage.responseText);

                    alert(msg);
                }

            });
        //        $.ajax
        //            ({
        //                type: 'GET',
        //                url: '/api/FinancialReports/BalanceSheet',
        //
        //                success: function (data) {
        //
        //                    //document.getElementById('customerAccountDetailsForm').reset();
        //                    var assetEntry = "";
        //                    var incomeEntry = "";
        //                    var expenseEntry = "";
        //                    var liabilityEntry = "";
        //                    var capitalEntry = "";
        //                    var totalDebit = 0;
        //                    var totalCredit = 0;
        //                    var equity = 0;
        //                    assetEntry = assetEntry + "<tr><td style='padding-left:2.5%;'>" + data[0]['accountName'] + "</td><td><b>" + data[0]['debitAmount'] + "</b></td><td></td></tr>";
        //                    assetEntry = assetEntry + "<tr><td style='padding-left:2.5%;'>" + data[1]['accountName'] + "</td><td><b>" + data[1]['debitAmount'] + "</b></td><td></td></tr>";
        //                    assetEntry = assetEntry + "<tr><td style='padding-left:2.5%;'>" + data[2]['accountName'] + "</td><td><b>" + data[2]['debitAmount'] + "</b></td><td></td></tr>"
        //                    liabilityEntry = liabilityEntry + "<tr><td style='padding-left:2.5%;'>" + data[3]['accountName'] + "</td><td><b>" + data[3]['creditAmount'] + "</b></td><td></td></tr>";
        //                    liabilityEntry = liabilityEntry + "<tr><td style='padding-left:2.5%;'>" + data[4]['accountName'] + "</td><td><b>" + data[4]['creditAmount'] + "</b></td><td></td></tr>";
        //                    capitalEntry = capitalEntry + "<tr><td style='padding-left:2.5%;'>" + data[5]['accountName'] + "</td><td><b>" + data[5]['creditAmount'] + "</td><td></td></tr>";
        //                    var totalAsset = Number.parseFloat(data[0]["debitAmount"]) + Number.parseFloat(data[1]["debitAmount"]) + Number.parseFloat(data[2]["debitAmount"]);
        //                    var totalLiability = Number.parseFloat(data[3]["creditAmount"]) + Number.parseFloat(data[4]["creditAmount"]);
        //                    var totalEquity = Number.parseFloat(data[5]["creditAmount"]);
        //                    $('#balanceSheetReport #asset').after(assetEntry);
        //
        //                    $('#balanceSheetReport #liability').after(liabilityEntry);
        //                    $('#balanceSheetReport #capital').after(capitalEntry);
        //                    $('#totalLE b').html(totalEquity);
        //                    $('#totalAsset b').html(totalAsset);
        //                    $('#totalLiability b').html(totalLiability);
        //                    $('#balanceSheetReport #totalCredDeb').append("<td ><b>" + (Number.parseFloat(totalLiability) + Number.parseFloat(totalEquity)) + "</b></td>");
        //
        //
        //
        //                },
        //                error: function (errorMessage) {
        //                    // alert('request failed');
        //
        //                    var msg = JSON.parse(errorMessage.responseText);
        //
        //                    alert(msg);
        //                }
        //
        //            });

        $(document).ready(function () {

            // : TAB FUNCTIONALITY
            $("#balanceSheetTab").on('click',
                function () {
                    $('.tab-report .col-md-4').removeClass('active');
                    $('#plReport,#trialBalanceReport,#balanceSheetReport').fadeOut(100, function () {
                        $('.tab-report #balanceSheetTab').addClass('active');
                        $('#balanceSheetReport').fadeIn();
                    });

                });
            $("#plTab").on('click',
                function () {
                    $('.tab-report .col-md-4').removeClass('active');
                    $('#plReport,#trialBalanceReport,#balanceSheetReport').fadeOut(100, function () {
                        $('.tab-report #plTab').addClass('active');
                        $('#plReport').fadeIn();
                    });

                });
            $("#trialBalanceTab").on('click',
                function () {
                    $('.tab-report .col-md-4').removeClass('active');
                    $('#plReport,#trialBalanceReport,#balanceSheetReport').fadeOut(100, function () {
                        $('.tab-report #trialBalanceTab').addClass('active');
                        $('#trialBalanceReport').fadeIn();
                    });

                });


            $('#selectDateInterval #reportIntervalBtn').on('click', function () {
                $('form #errorMessage').fadeOut();
                //alert('clicked');
                var fromDate = String($('#fromDate').val());
                var toDate = String($('#toDate').val());
                if (fromDate != "" && fromDate != null) {
                    if ($('#fromDate').val() > $('#toDate').val()) {
                        $('form #errorMessage').fadeIn();
                        $('form #errorMessage').html("<b>TO Date</b> must be ahead of <b>FROM Date</b>");
                        return;
                    } else {
                        var reportDto = {
                            FromDate: fromDate,
                            ToDate: toDate
                        }
                        $.ajax
                            ({
                                type: 'POST',
                                url: '/api/FinancialReports/ProfitAndLossQuery',
                                data: JSON.stringify(reportDto),
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                success: function (data) {

                                    //document.getElementById('customerAccountDetailsForm').reset();
                                    $('#dateDisplay').fadeIn(0,
                                        function () {
                                            $('#dateDisplay #fromDateDisplay b').text(fromDate);
                                            $('#dateDisplay #toDateDisplay b').text(toDate);
                                        });
                                    var totalIncome = parseFloat(data[1]) + parseFloat(data[3]);
                                    var totalExpense = parseFloat(data[5]);
                                    $('#plReport tbody')
                                        .html("<tr class='bg-grey'><td><b>Income</b></td><td></td></tr>" +
                                            "<tr><td>" +
                                            data[0] +
                                            "</td><td>" +
                                            data[1] +
                                            "</td></tr><tr> <td>" +
                                            data[2] +
                                            "</td><td>" +
                                            data[3] +
                                            "</td></tr> <tr> <td> <b>Total Income</b></td><td><b>" +
                                            totalIncome +
                                            "</b></td></tr><tr class='bg-grey'><td><b>Expense</b></td><td></td></tr><tr><td>" +
                                            data[4] +
                                            "</td><td>" +
                                            data[5] +
                                            "</td></tr><tr><td> <b>Total Expense</b></td><td><b>" +
                                            totalExpense +
                                            "</b></td></tr><tr class='bg-light-grey'><td class='bg-grey' ><b>Profit/Loss</b></td><td class='alt-bg white-color'><b>" +
                                            (totalIncome - totalExpense) +
                                            "</b></td></tr>");


                                },
                                error: function (errorMessage) {
                                    // alert('request failed');

                                    var msg = JSON.parse(errorMessage.responseText);

                                    alert(msg);
                                }

                            });
                    }
                } else {
                    if (fromDate == null || fromDate == "") {
                        $('form #errorMessage').fadeIn();

                        $('form #errorMessage').html("Please select <b>FROM Date</b>");
                    }
                    if (toDate == null || toDate == "") {
                        $('form #errorMessage').fadeIn();

                        $('form #errorMessage').append("<br> Please select <b>TO Date</b>");
                    }
                }

            });
        });
    </script>
}


