@model WebApplication1.ViewModels.GLCategoryViewModel
<div id="myAddGLCategoryModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Add GL Category</h3>
            </div>
            <div class="alert alert-danger alert-dismissible" id="errorMessage"></div>
            <div class="alert alert-success alert-dismissible" id="successMessage"></div>
            <form id="glCategoryForm">

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="name">Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="name" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="category">Category</label>
                        </div>
                        <div class="col-md-9">
                            <select id="category" class="form-control">
                                <option value="0">- Select Category - </option>
                                @{
                                    foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="description">Description</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="description" class="form-control" />
                        </div>
                    </div>
                </div>


                <div class="align-right">
                    <button id="myAddGLCategoryBtn">Add GL Category<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button>
                </div>

            </form>

        </div>
    </div>

</div>



