

@model WebApplication1.ViewModels.GLAccountViewModel
<div id="myAddGLAccountModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Add GL Account</h3>
            </div>
         
            <div class="alert alert-danger alert-dismissible" id="errorMessage"></div>
            <div class="alert alert-success alert-dismissible" id="successMessage"></div>
            <form id="glAccountForm">

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="name">Account Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="name" class="form-control" />


                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="category">Main Category</label>
                        </div>
                        <div class="col-md-9">
                            <select id="category" class="form-control">
                                <option value="0">- Select Main Account Category - </option>
                                @{
                                    foreach (var category in Model.GLCategories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="branch">Branch</label>
                        </div>
                        <div class="col-md-9">
                            <select id="branch" class="form-control">
                                <option value="0">- Select a branch - </option>
                                @{
                                    foreach (var branch in Model.Branch)
                                    {
                                        <option value="@branch.Id">@branch.Name</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                </div>

                <div class="align-right">
                    <button id="myAddGLAccountBtn">Add GL Account<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button>
                </div>


            </form>
        </div>
    </div>

</div>



