

@model WebApplication1.ViewModels.GLPostingViewModel
<div id="myGLPostingConfirmationModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Make GL Posting </h3>
            </div>
            <div class="alert alert-danger" id="errorMessage"></div>
            <div class="alert alert-success" id="successMessage"></div>

            <form id="confirmationForm">
                <div class="form-group align-center">
                    <p><span>Are you sure you want to <br /><b>Debit : </b></span><span id="debitAccount"><b></b> <span> <br /> </span> </span> <span><b>Credit : </b></span><span id="creditAccount"><b></b></span></p>
                </div>

                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 align-left">
                        <button class="" id="myBackToPostBtn">Back</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 align-right">
                        <button class=" btn btn-success" id="myGLPostingConfirmationBtn">Yes</button>
                    </div>
                </div>


            </form>
        </div>
    </div>

</div>





