
@using WebApplication1.Models
@model WebApplication1.ViewModels.GLAccountViewModel
@{
    ViewBag.Title = "GLAccount";
    Layout = User.IsInRole(RoleName.ADMIN_ROLE) ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_UserLayout.cshtml";
}


@Html.Partial("_AddAccountModal")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">GL Account Management</h1>
        </div>
    </div>
</div>
<div class="row margin-vertical">
   
    <div class="container bg-white shadow">
        <div class="row  padding-horizontal">
            <div class="col-md-6 col-sm-6 col-xs-6 align-left " style="padding-top: 35px;">
                <p class=" grey-color animated fadeInRight "><span id="count">@Model.count</span> GL Accounts</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 align-right">
                <button id="myBtn">Add new Account</button>
            </div>
        </div>
       




        <div class="row padding-horizontal">

            <table id="gl-account" class="table table-striped table-responsive small-text animated fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>GL Account Name </th>
                        <th>GL Account Code</th>
                        <th>Gl Category</th>
                        <th>Branch</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>


    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#gl-account").DataTable({
                ajax: {
                    url: "/api/generalledgers/GetGLAccounts",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "code"
                    },
                    {
                        data: "glCategories.mainAccountCategory"
                    },
                    {
                        data: "branch.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a class='js-delete' data-branch-id='" + data + "'>Edit</a>";
                        }
                    }
                ]
            });
            
            // : To GET number of Customer Accounts Available
            table.ajax.reload(function () {
                $('#count').html(table.data().count());
            });
            //            $("#branches ").on("click","js-delete", function () {
            //                var button = $(this);
            //                //alert("Delete");
            //                bootbox.confirm("Are you sure you want to delete this branch", function () {
            //                    if (result) {
            //                        $.ajax({
            //                            url: "api/generalledgercategories/" + button.attr("data-branch-id"),
            //                            method: "DELETE",
            //                            success: function () {
            //                                table.row(button.parents("tr")).remove().draw();
            //                            }
            //                        });
            //                    }
            //                });
            //            });

        });
    </script>
}
