@model WebApplication1.ViewModels.GLCategoryViewModel
@{
    ViewBag.Title = "GLCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_AddCategoryModal")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">GL Category Management</h1>
        </div>
    </div>
</div>
<div class="row margin-vertical">
    <div class="row padding-horizontal padding-vertical">
        <div class="container container-fluid">
            <p class="align-right grey-color animated fadeInRight ">3 Branches</p>
        </div>

    </div>
    <div class="container bg-white shadow">

        <div class="row align-right padding-horizontal">
            <button id="myBtn">Add new Category</button>
        </div>




        <div class="row padding-horizontal">

            <table id="gl-category" class="table table-striped table-responsive small-text animated fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>GL Category Name </th>
                        <th>Main Account Category</th>
                        <th>Description</th>

                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>


    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#gl-category").DataTable({
                ajax: {
                    url: "/api/generalledgers/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "mainAccountCategory"
                    },
                    {
                        data: "categories.name"
                    },
                    {
                        data: "description"
                    }
                ]
            });
            //            $("#branches ").on("click","js-delete", function () {
            //                var button = $(this);
            //                //alert("Delete");
            //                bootbox.confirm("Are you sure you want to delete this branch", function () {
            //                    if (result) {
            //                        $.ajax({
            //                            url: "api/generalledgercategories/" + button.attr("data-branch-id"),
            //                            method: "DELETE",
            //                            success: function () {
            //                                table.row(button.parents("tr")).remove().draw();
            //                            }
            //                        });
            //                    }
            //                });
            //            });

        });
    </script>
}
