

@using WebApplication1.Models
@model WebApplication1.ViewModels.GLPostingViewModel
@{
    ViewBag.Title = "GL Account Postings";
    Layout = User.IsInRole(RoleName.ADMIN_ROLE) ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_UserLayout.cshtml";
}


@Html.Partial("_ConfirmationModal")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">GL Postings</h1>
        </div>
    </div>
</div>

@{
    if (User.IsInRole(RoleName.ADMIN_ROLE))
    {
    <div class="container margin-vertical" id="postWarning">
        <p class="alert alert-warning">Business should be opened to carry out GL Postings</p>
    </div>
   
        @Html.Partial("_AddPostings")
    }
}

<div class="row ">
    @* <div class="row padding-horizontal padding-vertical"> *@
    @*     <div class="container container-fluid"> *@
    @*         <p class="align-right grey-color animated fadeInRight "><span id="count"></span> GL Postings</p> *@
    @*     </div> *@
    @* </div> *@

    <div class="container bg-white shadow">


        <div class="row  padding-horizontal">
            <div class="col-md-6 col-sm-6 col-xs-6 align-left ">
                <h3 class="alt-color bold-text align-left ">List of GL Postings  </h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 align-right">
                @{
                    if (User.IsInRole(RoleName.ADMIN_ROLE))
                    {
                        <p class=" grey-color animated fadeInRight "><span id="count">@Model.count</span> GL Postings</p>
                    }
                }
                
            </div>
        </div>

        <div class="row padding-horizontal">

            <table id="GLPostings" class="table table-striped table-responsive small-text animated fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>GL Account Name</th>
                        <th>GL Account Code</th>
                        <th>Transaction Date</th>
                        <th>Debit Amount</th>
                        <th>Credit Amount</th>
                        <th>User</th>
                        <th>Narration</th>

                    </tr>
                </thead>

                <tbody></tbody>
            </table>

        </div>
    </div>
</div>


@section scripts
{
    <script>


        $(document).ready(function () {

            var creditAccountName; //Account  - (Name) to be credited
            var creditAccountId; // Account - (Id) to be credited
            var creditAmount; // Amount to be credited
            var creditNarration; // Description of credit
            var debitAccountName; //Account  - (Name) to be debited
            var debitAccountId; // Account - (Id) to be debited
            var debitAmount; // Amount to be debited
            var debitNarration; //Description of debit
            var count; //Number of Postings




            /**
             * TABLE FUNCTIONALITY
             */


            // : To  make API call to GET postings FROM Database TO GlPostings TABLE USING Jquery-DataTables.js

            var table = $("#GLPostings").DataTable({
                ajax: {
                    url: "/api/GeneralLedgers/GetPostings",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "glDebitAccount.name"
                    },
                    {
                        data: "glDebitAccount.code"
                    },
                    {
                        data: "transactionDate"
                    },
                    {
                        data: "creditAmount"
                    },
                    {
                        data: "debitAmount"
                    },
                    {
                        data: "userAccount.fullName"
                    },
                    {
                        data: "creditNarration"
                    }
                ]
            });
            table.ajax.reload(function () {
                $('#count').html(table.data().count());
            });


            // :To DELETE or EDIT an entry in the GLPostings TABLE

            $("#GLPostings ").on("click", "js-delete", function () {
                var button = $(this);
                //alert("Delete");
                bootbox.confirm("Are you sure you want to delete this branch",
                    function () {
                        if (result) {
                            $.ajax({
                                url: "api/GeneralLedgers/GetPostings/" + button.attr("data-branch-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
            });




            /**
             * MODAL FUNCTIONALITY
             */


            // :To OPEN the Modal to make a NEW GL Post

            $('#myOpenGlPostingModalBtn').on('click', function (e) {
                e.preventDefault();
                $('#myAddGLPostingModal').fadeIn(0, function () {
                    $(this).addClass('fadeInDown');
                });
            });

            $('#myBackToPostBtn').on('click', function (e) {
                e.preventDefault();
                $('#myGLPostingConfirmationModal').fadeOut(0, function () {
                    $('#myAddGLPostingModal').fadeIn(100, function () {
                        $(this).addClass('fadeInDown');
                    });
                });

            });
            // :To get DATA entered from the GL Posting FORM and VALIDATE
            $("#myAddGLPostingBtn").on("click",
                function (e) {

                    e.preventDefault();
                    creditAccountName = $("#myAddGLPostingModal #glCreditAccountId option:selected").text();
                    creditAccountId = $("#myAddGLPostingModal #glCreditAccountId").val();
                    debitAccountName = $("#myAddGLPostingModal #glDebitAccountId option:selected").text();
                    debitAccountId = $("#myAddGLPostingModal #glDebitAccountId").val();
                    amount = $("#myAddGLPostingModal #amount").val();
                    narration = $("#myAddGLPostingModal #narration").val();
                    creditNarration = narration;
                    debitNarration = narration;

                    //alert("Credit Acc : " + creditAccountId + ", Amount : " + creditAmount + ", Narration : " + creditNarration + ", Debit Acc : " + debitAccountId + ", Amount : " + debitAmount + ", Narration : " + debitNarration );

                    glPostingDto = {
                        GlCreditAccountId: creditAccountId,
                        CreditAmount: amount,
                        CreditNarration: narration,
                        GlDebitAccountId: debitAccountId,
                        DebitAmount: amount,
                        DebitNarration: narration

                    };

                    // GL Posting Modal Form Validation
                    if (creditAccountId == 0) {
                        $('#myAddGLPostingModal #errorMessage').fadeIn();
                        $('#myAddGLPostingModal #errorMessage').html("Please Select a GL Credit Account");
                        return;
                    }
                    if (creditAmount == 0) {
                        $('#myAddGLPostingModal #errorMessage').fadeIn();
                        $('#myAddGLPostingModal #errorMessage').html("Please Enter GL Credit Amount");
                        return;
                    }
                    if (creditNarration == 0 || creditNarration == null) {
                        $('#myAddGLPostingModal #errorMessage').fadeIn();
                        $('#myAddGLPostingModal #errorMessage').html("Please Enter GL Credit Narration");
                        return;
                    }

                    if (debitAccountId == 0) {
                        $('#myAddGLPostingModal #errorMessage').fadeIn();
                        $('#myAddGLPostingModal #errorMessage').html("Please Select a GL Debit Account");
                        return;
                    }
                    if (debitAmount == 0) {
                        $('#myAddGLPostingModal #errorMessage').fadeIn();
                        $('#myAddGLPostingModal #errorMessage').html("Please Enter GL Debit Amount");
                        return;
                    }
                    if (debitNarration == 0 || debitNarration == null) {
                        $('#myAddGLPostingModal #errorMessage').fadeIn();
                        $('#myAddGLPostingModal #errorMessage').html("Please Enter GL Debit Narration");
                        return;
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/api/GeneralLedgers/ValidationChecks',
                        data: JSON.stringify(glPostingDto),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {

                            //Confirmation Modal Fades In

                            $('#myGLPostingConfirmationModal').fadeIn(300, function () {
                                $('#myGLPostingConfirmationModal #creditAccount b').text(" " + amount + " to " + creditAccountName + " ");
                                $('#myGLPostingConfirmationModal #debitAccount b').text(" " + amount + " from " + debitAccountName + " ");
                            });




                        },
                        error: function (errorMessage) {
                            // alert('request failed');
                            var msg = JSON.parse(errorMessage.responseText);

                            $('#myAddGLPostingModal #errorMessage').fadeIn(200,
                                function () { $('#myAddGLPostingModal #errorMessage').html(msg.message) });
                        }

                    });





                });

            // :To confirm ACTION and make an API call to POST to the CONTROLLER

            $('#myGLPostingConfirmationBtn').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/api/GeneralLedgers/AddGLPosting',
                    data: JSON.stringify(glPostingDto),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {


                        $('#myGLPostingConfirmationModal #successMessage').fadeIn(200,
                            function () {
                                document.getElementById('confirmationForm').reset();

                                $('#myGLPostingConfirmationModal #successMessage').html(data);

                                $('#myGLPostingConfirmationModal button').fadeOut();
                            });
                        return;


                    },
                    error: function (errorMessage) {
                        // alert('request failed');

                        var msg = JSON.parse(errorMessage.responseText);

                        $('#myGLPostingConfirmationModal #errorMessage').fadeIn(200,
                            function () { $('#myGLPostingConfirmationModal #errorMessage').html(msg.message) });
                    }

                });

            });



            // : To CLOSE Confirmation modal and refresh PAGE
            $('#myGLPostingConfirmationModal .close').on('click',
                function () {

                    table.ajax.reload(function () {
                        $('#count').html(table.data().count());
                        $('#myGLPostingConfirmationModal').fadeOut();
                        $('#myGLPostingConfirmationModal #errorMessage, #myGLPostingConfirmationModal #successMessage ').fadeOut();
                        $('#myGLPostingConfirmationModal button').fadeIn();
                        document.getElementById('glPostingForm').reset();

                    });




                });



        });

    </script>
}


