
<div id="myEditAtmTerminalModal" class="modal ">

    <!-- Modal content -->
    <div class="modal-content animated ">
        <span class="close">&times;</span>
        <div>
            <div class=" padding-horizontal bordered-bottom align-left">
                <h3 class="alt-color bold-text">Add ATM Terminals</h3>
            </div>
            <div class="alert alert-danger alert-dismissible" id="errorMessage"></div>
            <div class="alert alert-success alert-dismissible" id="successMessage"></div>
            <form id="atmTerminalForm">

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="name">Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="name" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="name">Terminal ID</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="terminalID" class="form-control" />
                        </div>

                    </div>
                </div>

                <div class="row form-group ">
                    <div class="margin-vertical">
                        <div class="col-md-3">
                            <label for="description">Location</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="location" class="form-control" />
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hidden" class="form-control" />

                <div class="align-right">
                    <button id="myEditATMTerminalBtn">Edit ATM Terminals<img src="~/Content/Images/loader2.gif" style="max-width: 50px;" class="loader icon"></button>
                </div>

            </form>

        </div>
    </div>

</div>


