

@using WebApplication1.Models
@model WebApplication1.ViewModels.TellerPostingViewModel
@{
    ViewBag.Title = "Teller Postings";
    if (User.IsInRole(RoleName.ADMIN_ROLE))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="underline animated fadeInLeft">Teller Postings</h1>
        </div>
    </div>
</div>

@{
    if (User.IsInRole(RoleName.ADMIN_ROLE) || User.IsInRole(RoleName.TELLER_ROLE))
    {
        <div class="container margin-vertical" id="postWarning">
            <p class="alert alert-warning">Business should be opened to carry out GL Postings</p>
        </div>
        @Html.Partial("_AddTellerPosting")
        @Html.Partial("_ConfirmationModal")
    }

}




<div class="row margin-vertical">

    <div class="container bg-white shadow">
        <div class="row  padding-vertical">
            <div class="col-md-6 col-sm-6 col-xs-6 align-left" style="padding-top: 35px;">
                <h3 class="alt-color bold-text align-left ">List of Teller Postings  </h3>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 align-right">
                <p class="align-right grey-color animated fadeInRight " style="padding-top: 35px"><span id="count">@Model.count</span> Tellers Postings</p>
            </div>

        </div>



        <div class="row padding-horizontal">

            <table id="tellerPostings" class="table table-striped table-responsive small-text animated fadeInUp ">
                <thead class="padding-vertical">
                    <tr>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Transaction Date</th>
                        <th>Debit Amount</th>
                        <th>Credit Amount</th>
                        <th>Narration</th>

                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>


    </div>

</div>


@section scripts
{
    <script>


        $(document).ready(function () {


            /**
             * VARIABLE DECLARATIONS
             */


            var customerAccountName; // Account - (Name) of Customer
            var customerAccountId; // Account - (Id) of Customer
            var postingType; // Type of post - Deposit or Withdrawal
            var amount; // Amount to be transacted
            var narration; // Brief Description of transaction
            var tellerPostingDto;


            /**
             * TABLE FUNCTIONALITY
             */


            //: To load data from Database through an API call using JQUERY.DATATABLES

            var table = $("#tellerPostings").DataTable({
                ajax: {
                    url: "/api/tellers/tellerpostings",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customerAccount.name"
                    },
                    {
                        data: "customerAccount.accountNumber"
                    },
                    {
                        data: "transactionDate"
                    },
                    {
                        data: "amount"
                    },
                    {
                        data: "amount"
                    },
                    {
                        data: "narration"
                    }
                ],
                "order":
                    [[2, "desc"]]
            });

            // : To GET number of ROWS

            table.ajax.reload(function () {
                $('#count').html(table.data().count());
            });

            // : To EDIT or DELETE from DATABASE and TABLE

            $("#tellerPostings ").on("click",
                "js-delete",
                function () {
                    var button = $(this);
                    //alert("Delete");
                    bootbox.confirm("Are you sure you want to delete this branch",
                        function () {
                            if (result) {
                                $.ajax({
                                    url: "api/teller/tellerPosting/" + button.attr("data-branch-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });


            /**
             * POSTING (FORM AND MODAL) FUNCTIONALITY
             */


            // : To SUBMIT form details for validation

            $("#myAddTellerPostingBtn").on("click",
                function (e) {
                    $('#myAddTellerPostingModal #errorMessage').fadeOut();
                    e.preventDefault();
                    customerAccountName = $("#myAddTellerPostingModal #customerAccountId option:selected").text();
                    customerAccountId = $("#myAddTellerPostingModal #customerAccountId").val();
                    postingType = $("#myAddTellerPostingModal #postingType").val();
                    amount = $('#myAddTellerPostingModal #amount').val();
                    narration = $('#myAddTellerPostingModal #narration').val();
                    //                    alert("Customer Account Id : " +
                    //                        customerAccountId +
                    //                        ", Posting Type : " +
                    //                        postingType +
                    //                        ", Amount : " +
                    //                        amount +
                    //                        "Narration : " +
                    //                        narration);

                    // Teller Posting FORM Validation

                    if (customerAccountId == 0) {
                        $('#myAddTellerPostingModal #errorMessage').fadeIn();
                        $('#myAddTellerPostingModal #errorMessage').html("Please Select a Customer Account");
                        return;
                    }
                    if (postingType == 0) {

                        $('#myAddTellerPostingModal #errorMessage').fadeIn();
                        $('#myAddTellerPostingModal #errorMessage').html("Please Select a Posting Type");
                        return;
                    }
                    if (amount <= 0 || amount == null) {

                        $('#myAddTellerPostingModal #errorMessage').fadeIn();
                        $('#myAddTellerPostingModal #errorMessage').html("Please Enter an Amount Greater than 0");
                        return;
                    }
                    if (narration == null || narration == 0) {

                        $('#myAddTellerPostingModal #errorMessage').fadeIn();
                        $('#myAddTellerPostingModal #errorMessage')
                            .html("Please Enter a Brief Narration (Description)");
                        return;
                    }

                    tellerPostingDto = {
                        CustomerAccountId: customerAccountId,
                        PostingType: postingType,
                        Amount: amount,
                        Narration: narration
                    };

                    // API call to validate FORM
                    $.ajax({
                        type: 'POST',
                        url: '/api/Tellers/ValidationChecks',
                        data: JSON.stringify(tellerPostingDto),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {
                            $('#myTellerPostingConfirmationModal').fadeIn(0,
                                function () {
                                    $('myTellerPostingConfirmationModal #typeOfPosting b').text(postingType);

                                    $('#myTellerPostingConfirmationModal #accountOfPosting b')
                                        .text(postingType + " : " + amount + " to " + customerAccountName + " ");
                                });
                        },
                        error: function (errorMessage) {
                            // alert('request failed');
                            var msg = JSON.parse(errorMessage.responseText);
                            $('#myAddTellerPostingModal #errorMessage').fadeIn(200,
                                function () {
                                    $('#myAddTellerPostingModal #errorMessage').html(msg.message);

                                });
                        }

                    });


                });

            // : To make Teller Posting through AJAX API call
            $('#myTellerPostingConfirmationBtn').on('click',
                function (e) {
                    e.preventDefault();
                    $('#myTellerPostingConfirmationModal .buttonGroup').fadeOut();
                    $.ajax({
                        type: 'POST',
                        url: '/api/Tellers/AddTellerPosting',
                        data: JSON.stringify(tellerPostingDto),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {


                            $('#myTellerPostingConfirmationModal #successMessage').fadeIn(200,
                                function () {
                                    document.getElementById('tellerPostingForm').reset();
                                    $('#myTellerPostingConfirmationModal #successMessage').html(data)
                                });
                            return;


                        },
                        error: function (errorMessage) {
                            // alert('request failed');
                            var msg = JSON.parse(errorMessage.responseText);

                            $('#myTellerPostingConfirmationModal #errorMessage').fadeIn(200,
                                function () {

                                    $('#myTellerPostingConfirmationModal #errorMessage').html(msg.message);
                                    $('#myTellerPostingConfirmationModal .buttonGroup').fadeIn();
                                });
                        }

                    });

                });

            // : To CLOSE Confirmation Modal and reload List of Teller Postings
            $('#myTellerPostingConfirmationModal .close').on('click',
                function () {
                    table.ajax.reload(function () {
                        $('#count').html(table.data().count());
                        $('#myTellerPostingConfirmationModal #successMessage').fadeOut();
                        $('#myTellerPostingConfirmationModal #errorMessage').fadeOut();
                        $('#myTellerPostingConfirmationModal').fadeOut(100, function () {
                            customerAccountId = 0;
                            postingType = "";
                            amount = 0;
                            narration = "";
                            $('#myTellerPostingConfirmationModal .buttonGroup').fadeIn();
                        });

                    });

                });


        });
    </script>
}


